body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.review {
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.rating {
    color: rgb(0, 160, 43);
    font-size: 18px;
}
