<!DOCTYPE html>
<html lang="en">
<script src="{{url_for('static', filename='412home.js')}}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='412home.css') }}">
    <script defer src="412home.js"></script>
    <title>Your Amazon Replica</title>
</head>
<body>
    <header>
        <h1>Products</h1>
        <button id="reviews" onclick="location.href = '/reviews';" >Reviews</button>
        <button id="suppliers" onclick="location.href = '/suppliers';">Supplier</button>
        <button id="users" onclick="location.href = '/users';">Users</button>
        <button id="orders" onclick="location.href = '/orders';">Orders</button>
    </header>
    <main>
        <div id="productList"></div>
    </main>
</body>
</html>
